#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start-btn {
  background-color: rgb(3, 43, 43);
  color: white;
  border-radius: 5px;
}
.start-btn:hover, :focus {
  background-color: green;
}

.blob{
  width: 150px;
  height: 150px;
}